.header {
  background-color: #1c1a19
  ;
}

.header h1 {
  color: #f55800;
}

.header h2, p {
  color: #fff;
}

.header ul {
  list-style: none;
}

.social li {
  color: #fff;
}

.header a {
  color: #fff;
}

.top-image {
  width: 400px;
  margin-right: -55px;
}